-//<!DOCTYPE html>
html(lang="en")
head
  title Bootstrap Tiles
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  <div style="margin:70px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container" style="background-color:powderblue;"> 
        <a class="navbar-brand" href="/" >Home</a>
        <ul class="nav navbar-nav">
          <li class="active,bg-success" >
            <a href="/pupils" style="background-color:yellow;">Pupils</a>
          </li>
          <li>
            <a href="/register" class="bg-warning">Registration</a>
          </li>
          <li>
            <a href="/admin" class="bg-success">Admin</a>
          </li> 
          <li>
            <a href="/schools" style="background-color:yellow;">Schools</a>
          </li>
          <li>
             <p class="navbar-brand" style="margin:30px;">You can change any field, of any column of schools and pupils (but not "id") by write and enter new value,<br>
             to delete existent or put new school or pupil, see file "api/routes/admin".</p>
          </li>
        </ul>
      </div>
    </nav>   
body
  p Hello #{sess_em1}
  p(id= 'k1')
    div(class="container-fluid")         
      div(class="row")
         -var i = 0
         each school in schools
          -i++
           div(class="col-sm-4")           
             div(style="display:inline-block; width: 250px; height: 310px; margin: 10px; border: 3px solid #73AD21; background-color:lavenderblush;")
               -var j = 0 
               each val, index in school
                -j++                 
                  label(for="ex3") #{index}        
                    input(type='text', class="form-control", name= index, line= i,  onchange="onChange(event, this)", value= val,  style="background-color:lavender;")
               label(for="ex3") click here        
                    input(type='text', class="form-control", name= index, line= i,   value= "to get table 'Pupils'", onclick= "onClick_11_08(event,this)", style="background-color:lavender;")  
span <br>
a(href="/logout") Logout
script(src="/JavaScript/event_handler_05_09_a.js")            

